# Libraries

Useful stuff

In [ ]:
import pandas as pd
import numpy as np
import datetime
from numpy import NaN
import re

# Import Data

Data is imported from local cloud file system. 

Each time this notebook is executed, the file "COVID19-web.csv" must be uploaded.

In [ ]:
# Data Acquisition
df = pd.read_csv('COVID19-web.csv', encoding='utf-8')

In [ ]:
df.columns

Index(['TrialID', 'Last Refreshed on', 'Public title', 'Scientific title',
       'Acronym', 'Primary sponsor', 'Date registration', 'Date registration3',
       'Export date', 'Source Register', 'web address', 'Recruitment Status',
       'other records', 'Inclusion agemin', 'Inclusion agemax',
       'Inclusion gender', 'Date enrollement', 'Target size', 'Study type',
       'Study design', 'Phase', 'Countries', 'Contact Firstname',
       'Contact Lastname', 'Contact Address', 'Contact Email', 'Contact Tel',
       'Contact Affiliation', 'Inclusion Criteria', 'Exclusion Criteria',
       'Condition', 'Intervention', 'Primary outcome', 'results date posted',
       'results date completed', 'results url link', 'Retrospective flag',
       'Bridging flag truefalse', 'Bridged type', 'results yes no'],
      dtype='object')

In [ ]:
criteria = 'Phase'
df[criteria].unique()
# len(df[criteria].unique())

array([nan, 'Phase 1', 'Phase 4', 'Retrospective study', '0', '4', '3',
       'New Treatment Measure Clinical Study', '2', '1-2', '1', '2-3',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): no\n',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Not Applicable',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): yes\n',
       'Phase 2', 'Diagnostic New Technique Clincal Study',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Phase2/Phase3', 'Phase2', 'Phase II/III', 'Phase 1 / Phase 2',
       'Phase II',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): no\n',
       'Not Specified', 'Phase III/IV', '0 (exploratory trials)',
       'Phase 3', 'Not applicable', 'Phase I', 'Phase 2/Phase 3',
       'Phase 1/Phase 2', 'Early Phase 1', 'Phase 2 / Phase 3',
       'Phase IV', 'Phase III',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): yes\n',
       'Phase I/II',
       'Human pharmacology (Phase I): \nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): \nTherapeutic use (Phase IV): no\n',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): yes\n',
       'Phase 0', 'Phase3', 'Phase1/Phase2', 'Bioequivalence',
       'Phase 1/ Phase 2', 'Post Marketing Surveillance',
       'Phase 2/ Phase 3', 'Phase 3/ Phase 4', 'Phase1',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Not selected', 'Phase II,III', 'IIb', 'I', 'III', 'IV', 'II-III',
       'II', 'I-II', 'Phase 2-3', 'Phase 1-2', 'Phase-3', 'Phase-2',
       'Phase-1'], dtype=object)

In [ ]:
len(df)

14685

Index starts at 1 for easy Database manipulation.

In [ ]:
# Index starts at 1 
df.index = df.index +  1

# Data Overview

All features from the original dataset.

In [ ]:
df.columns

Index(['TrialID', 'Last Refreshed on', 'Public title', 'Scientific title',
       'Acronym', 'Primary sponsor', 'Date registration', 'Date registration3',
       'Export date', 'Source Register', 'web address', 'Recruitment Status',
       'other records', 'Inclusion agemin', 'Inclusion agemax',
       'Inclusion gender', 'Date enrollement', 'Target size', 'Study type',
       'Study design', 'Phase', 'Countries', 'Contact Firstname',
       'Contact Lastname', 'Contact Address', 'Contact Email', 'Contact Tel',
       'Contact Affiliation', 'Inclusion Criteria', 'Exclusion Criteria',
       'Condition', 'Intervention', 'Primary outcome', 'results date posted',
       'results date completed', 'results url link', 'Retrospective flag',
       'Bridging flag truefalse', 'Bridged type', 'results yes no'],
      dtype='object')

## ID Column Creation

For easy database manipulation in the API, an id (numerical column) is added

In [ ]:
df.reset_index(inplace=True)

Feature names are transformed to upper case for database manipulation

In [ ]:
df.columns = df.columns.str.upper()
df.rename(columns = {'INDEX':'ID'}, inplace=True)

In [ ]:
df

,ID,TRIALID,LAST REFRESHED ON,PUBLIC TITLE,SCIENTIFIC TITLE,ACRONYM,PRIMARY SPONSOR,DATE REGISTRATION,DATE REGISTRATION3,EXPORT DATE,...,CONDITION,INTERVENTION,PRIMARY OUTCOME,RESULTS DATE POSTED,RESULTS DATE COMPLETED,RESULTS URL LINK,RETROSPECTIVE FLAG,BRIDGING FLAG TRUEFALSE,BRIDGED TYPE,RESULTS YES NO
0,1,NCT00173563,19 February 2015,Induction of Cytokines in Human Monocytes by S...,Induction of Cytokines in Human Monocytes by S...,NaN,National Taiwan University Hospital,12/09/2005,20050912,7/7/2022 10:12:07 AM,...,Healthy,NaN,NaN,NaN,NaN,NaN,Yes,False,,NaN
1,2,NCT00523276,19 February 2015,SARS Survivor Evaluations,"Immune Responses, Transmission and Nucleotide ...",NaN,National Institute of Allergy and Infectious D...,30/08/2007,20070830,7/7/2022 10:12:07 AM,...,Coronavirus (SARS-CoV),NaN,"Positive serology, SARS CoV",NaN,NaN,NaN,No,False,,NaN
2,3,NCT00533741,19 February 2015,SARS Coronavirus Vaccine (SARS-CoV),"Phase I, Double-Blinded, Placebo-Controlled Do...",NaN,National Institute of Allergy and Infectious D...,20/09/2007,20070920,7/7/2022 10:12:07 AM,...,Coronavirus (SARS-CoV),Biological: SARS-CoV;Drug: Placebo;Drug: Alumi...,Frequency and severity of solicited injection ...,NaN,NaN,NaN,Yes,False,,NaN
3,4,NCT01376765,19 February 2015,Phase I Dose Escalation SARS-CoV Recombinant S...,"Phase I, Double-Blinded, Placebo-Controlled, D...",NaN,National Institute of Allergy and Infectious D...,16/06/2011,20110616,7/7/2022 10:12:07 AM,...,SARS,Biological: Recombinant S protein SARS vaccine...,Occurrence of laboratory abnormalities at 8 da...,NaN,NaN,NaN,Yes,False,,NaN
4,5,IRCT20180223038837N1,14 January 2019,Comparative study of radiofrequency ablation &...,Comparative study of radiofrequency ablation &...,NaN,Kermanshah University of Medical Sciences,2018-12-08,20181208,7/7/2022 10:12:07 AM,...,Varicose veins of lower extremities. <br>Varic...,Intervention 1: Interventional Group 1: This g...,Recurrence of Varicose Veins. Timepoint: One w...,NaN,NaN,NaN,No,False,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14680,14681,JPRN-UMIN000047920,6 July 2022,Immune persistence and safety survey (cohort s...,Immune persistence and safety survey (cohort s...,NaN,"Juntendo University, School of Medicine",01/06/2022,20220601,7/7/2022 10:12:07 AM,...,COVID-19,NaN,1)Prime series<br> Safety up to 4 weeks after ...,NaN,30/09/2023,NaN,No,False,,NaN
14681,14682,JPRN-UMIN000047947,6 July 2022,Leading to a satisfying delivery experience fo...,Leading to a satisfying delivery experience fo...,NaN,Osaka Medical and Pharmaceutical University\nT...,04/06/2022,20220604,7/7/2022 10:12:07 AM,...,Healthy maternals and husbands,eriod:Around September 2022 after the approval...,Evaluation of Development of an online Deliver...,NaN,31/03/2024,NaN,Yes,False,,NaN
14682,14683,JPRN-UMIN000047978,6 July 2022,Study of COVID-19-related thromboembolism and ...,Study of COVID-19-related thromboembolism and ...,NaN,Nihon University Itabashi Hospital\nDepartmen...,07/06/2022,20220607,7/7/2022 10:12:07 AM,...,COVID-19,NaN,Presence or absence of cardiovascular impairme...,NaN,01/03/2023,NaN,No,False,,NaN
14683,14684,JPRN-UMIN000048027,6 July 2022,Clinical Study Report of\nSARS-CoV-2 Antigen R...,SARS-CoV-2 Antigen Rapid Test \n(nasopharyngea...,NaN,"Hangzhou AllTest Biotech Co., Ltd",10/06/2022,20220610,7/7/2022 10:12:07 AM,...,COVID-19,NaN,1. Comparison with approved antigen quantitati...,NaN,31/08/2022,NaN,No,False,,NaN
14684,14685,JPRN-UMIN000048028,6 July 2022,SARS-CoV-2 Antigen Rapid Test (nasal swab)\nIN...,SARS-CoV-2 Antigen Rapid Test (nasal swab)\nIN...,NaN,"Hangzhou AllTest Biotech Co., Ltd",10/06/2022,20220610,7/7/2022 10:12:07 AM,...,COVID-19,NaN,1.Comparison with approved antigen quantitatio...,NaN,31/08/2022,NaN,No,False,,NaN

# Countries Exploration

Main feature to filter and organize

##  Unique Countries Obtention

Unique string appearing in the 'COUNTRY' column

In [ ]:
countries = pd.Series(df['COUNTRIES'].unique())

Switch to lower case, replace ';' by ',' and split by ',' every string in the  'COUNTRIES' column

In [ ]:
countries_list =  countries.apply(lambda x: str(x).lower().replace(';', ',').split(','))

In [ ]:
countries_list

0                                               [taiwan]
1                                                [china]
2                                        [united states]
3                           [iran (islamic republic of)]
4                                                  [nan]
                             ...
927    [albania, argentina, bahamas, lebanon, lithuan...
928    [canada, ireland, united kingdom, england, nor...
929           [england, scotland, wales, united kingdom]
930    [australia, austria, belgium, brazil, bulgaria...
931    [japan, puerto rico, united states, ukraine, t...
Length: 932, dtype: object

Create a big list of unique strings appearing in the 'COUNTRIES' column

In [ ]:
countries_unique = []

for i in countries_list:
  for j in i:
    countries_unique.append(j)

In [ ]:
countries_unique_sorted = sorted(pd.Series(countries_unique).unique())

Strings may have some typos, but they still refer to the same country. This typos must be matched with the right country name without typos.

In [ ]:
countries_unique_sorted

['\n            american samoa\n        ',
 '\n            japan',
 '\n            pakistan\n        ',
 '\n            sri lanka\n        ',
 ' british',
 ' democratic republic',
 ' federated states of',
 ' islamic republic of',
 ' north',
 ' province of china',
 ' republic of',
 ' south',
 ' the democratic republic of the',
 ' the former yugoslav republic of',
 ' u.s.',
 '??',
 'afghanistan',
 'africa',
 'aland islands',
 'albania',
 'algeria',
 'american samoa',
 'andorra',
 'angola',
 'anguilla',
 'antarctica',
 'antigua and barbuda',
 'argentina',
 'armenia',
 'aruba',
 'asia(except japan)',
 'australia',
 'austria',
 'azerbaijan',
 'bahamas',
 'bahrain',
 'bangladesh',
 'barbados',
 'belarus',
 'belgium',
 'belize',
 'benin',
 'bermuda',
 'bhutan',
 'bolivia',
 'bonaire saint eustatius and saba',
 'bosnia and herzegovina',
 'botswana',
 'bouvet island',
 'brazil',
 'british indian ocean territory',
 'brunei',
 'brunei darussalam',
 'bulgaria',
 'burkina faso',
 'burundi',
 'cambodia',
 'cameroon',
 'canada',
 'cape verde',
 'cayman islands',
 'central african republic',
 'chad',
 'chian',
 'chile',
 'china',
 'china?',
 'chinese',
 'christmas island',
 'cocos (keeling) islands',
 'colombia',
 'columbia',
 'comoros',
 'congo',
 'cook islands',
 'costa rica',
 "cote d'ivoire",
 'cote divoire',
 'croatia',
 'cuba',
 'cuba ',
 'curacao',
 'cyprus',
 'czech rep',
 'czech republic',
 'czechia',
 "côte d'ivoire",
 "democratic people's republic of korea",
 'democratic republic of the congo',
 'denmark',
 'djibouti',
 'dominica',
 'dominican republic',
 'ecuador',
 'egypt',
 'el salvador',
 'england',
 'equatorial guinea',
 'eritrea',
 'estonia',
 'ethiopia',
 'europe',
 'european',
 'european union',
 'falkland islands',
 'faroe islands',
 'fiji',
 'finland',
 'france',
 'french guiana',
 'french polynesia',
 'french southern territories',
 'gabon',
 'gambia',
 'georgia',
 'germany',
 'ghana',
 'gibraltar',
 'greece',
 'greenland',
 'grenada',
 'guadeloupe',
 'guam',
 'guatemala',
 'guernsey',
 'guinea',
 'guinea-bissau',
 'guyana',
 'haiti',
 'heard island and mcdonald islands',
 'holland',
 'holy see (vatican city state)',
 'honduras',
 'hong kong',
 'hungaria',
 'hungary',
 'iceland',
 'india',
 'indonesia',
 'iran',
 'iran ',
 'iran (islamic republic of)',
 'iraq',
 'ireland',
 'isle of man',
 'israel',
 'italy',
 'jamaica',
 'japan',
 'jersey',
 'jordan',
 'kazakhstan',
 'kenya',
 'kiribati',
 'korea',
 'korea south',
 'kosovo',
 'kuwait',
 'kyrgyzstan',
 "lao people's democratic republic",
 'laos',
 'latvia',
 'lebanon',
 'lesotho',
 'liberia',
 'libya',
 'libyan arab jamahiriya',
 'liechtenstein',
 'lithuania',
 'luxembourg',
 'macao',
 'macau',
 'macedonia',
 'madagascar',
 'malawi',
 'malaysia',
 'maldives',
 'mali',
 'malta',
 'marshall islands',
 'martinique',
 'mauritania',
 'mauritius',
 'mayotte',
 'mexico',
 'micronesia',
 'micronesia (federated states of)',
 'modalvia',
 'moldova',
 'monaco',
 'mongolia',
 'montenegro',
 'montserrat',
 'morocco',
 'mozambique',
 'myanmar',
 'namibia',
 'nan',
 'nauru',
 'nederland',
 'nepal',
 'netherlands',
 'netherlands antilles',
 'new caledonia',
 'new zealand',
 'nicaragua',
 'niger',
 'nigeria',
 'niue',
 'norfolk island',
 'north america',
 'north macedonia',
 'northern ireland',
 'northern mariana islands',
 'norway',
 'oman',
 'other',
 'pakistan',
 'palau',
 'palestine',
 'palestinian territory',
 'panama',
 'papua new guinea',
 'paraguay',
 'peru',
 'peru rep',
 'philippines',
 'pitcairn',
 'poland',
 'poland rep',
 'portugal',
 'puerto rico',
 'qatar',
 'republic of korea',
 'republic of moldova',
 'republic of singapore',
 'reunion',
 'romania',
 'russia',
 'russian federation',
 'rwanda',
 'réunion',
 'saint barthelemy',
 'saint helena',
 'saint kitts and nevis',
 'saint lucia',
 'saint martin (french part)',
 'saint pierre and miquelon',
 'saint vincent and the grenadines',
 'samoa',
 'san marino',
 'sao tome and principe',
 'saudi arabia',
 'scotland',
 'senegal',
 'serbia',
 'serbia ',
 'seychelles',
 'sierra leone',
 'singapore',
 'sint maarten (dutch part)',
 'slovakia',
 'slovenia',
 'socialist republic of vietnam',
 'solomon islands',
 'somalia',
 'south africa',
 'south america',
 'south georgia and the south sandwich is',
 'south sudan',
 'spain',
 'sri lanka',
 'sudan',
 'suriname',
 'svalbard and jan mayen',
 'swaziland',
 'sweden',
 'switzerland',
 'syria',
 'syrian arab republic',
 'taiwan',
 'tajikistan',
 'tanzania',
 'thailand',
 'the arab republic of egypt',
 'the former yugoslav republic of macedonia',
 'the netherlands',
 "the people's republic of china",
 'timor-leste',
 'togo',
 'tokelau',
 'tonga',
 'trinidad and tobago',
 'tunisia',
 'turkey',
 'turkmenistan',
 'turks and caicos islands',
 'tuvalu',
 'tã¼rkiye',
 'uganda',
 'uk',
 'ukraine',
 'united arab emirates',
 'united kindgdom',
 'united kingdom',
 'united republic of tanzania',
 'united states',
 'united states\n        ',
 'united states minor outlying islands',
 'united states of america',
 'uruguay',
 'usa',
 'uzbekistan',
 'vanuatu',
 'venezuela',
 'venezuela (bolivarian republic of)',
 'viet nam',
 'vietnam',
 'virgin islands',
 'wales',
 'wallis and futuna',
 'western sahara',
 'yemen',
 'zambia',
 'zimbabwe']

## Aliases and Synonyms Filtering

In order to use the choropleth map visualization library, countries must have the ISO standard name. 

Hence, typos and names that appear in the unique list of strings above are mapped to these ISO standard names. 




obtained from: https://mode.com/example-gallery/world-choropleth-map/

obtained from: https://en.wikipedia.org/wiki/ISO_3166-1

In [ ]:
columns_ISO_countries  = ['Country','English_Short_Name', 'Alpha-2_Code', 'Alpha-3_Code', 'Numeric_Code', 'Synonyms']

values_ISO_countries = [
           ['afghanistan','Afghanistan','AF','AFG','004', ['afghanistan']],
           ['africa', 'Central African Republic', 'CF', 'CAF', '140', ['africa', 'central african republic']],
           ['aland islands', 'Åland Islands', 'AX','ALA', '248', ['aland islands']],
           ['albania', 'Albania','AL', 'ALB','008' ,['albania']],
           ['algeria', 'Algeria', 'DZ', 'DZA', '012', ['algeria']],
           ['american samoa', 'American Samoa', 'AS', 'ASM', '016', ['american samoa', '\n            american samoa\n        ']],
           ['andorra', 'Andorra', 'AD', 'AND', '020', ['andorra']],
           ['angola', 'Angola', 'AO', 'AGO', '024', ['angola']],
           ['anguilla', 'Anguilla', 'AI', 'AIA', '660', ['anguilla']],
           ['antarctica', 'Antarctica', 'AQ', 'ATA', '010', ['antarctica']],
           ['antigua and barbuda', 'Antigua and Barbuda', 'AG', 'ATG', '028', ['antigua and barbuda']],
           ['argentina', 'Argentina', 'AR', 'ARG', '032', ['argentina']],
           ['armenia', 'Armenia', 'AM', 'ARM', '051',  ['armenia']],
           ['aruba', 'Aruba', 'AW', 'ABW', '533', ['aruba']],
           ['australia', 'Australia', 'AU', 'AUS', '036', ['australia']],
           ['austria', 'Austria', 'AT', 'AUT', '040', ['austria']],
           ['azerbaijan', 'Azerbaijan', 'AZ', 'AZE', '031', ['azerbaijan']],
           ['bahamas', 'Bahamas', 'BS', 'BHS', '044' , ['bahamas']],
           ['bahrain', 'Bahrain', 'BH', 'BHR', '048', ['bahrain']],
           ['bangladesh', 'Bangladesh', 'BD', 'BGD', '050', ['bangladesh']],
           ['barbados', 'Barbados', 'BB', 'BRB', '052', ['barbados']],
           ['belarus', 'Belarus', 'BY', 'BLR', '112', ['belarus']],
           ['belgium', 'Belgium', 'BE', 'BEL', '056', ['belgium']],
           ['belize', 'Belize','BZ', 'BLZ', '084',['belize']],
           ['benin', 'Benin', 'BJ', 'BEN', '204', ['benin']],
           ['bermuda', 'Bermuda', 'BM', 'BMU', '060', ['bermuda']],
           ['bhutan', 'Bhutan', 'BT', 'BTN', '064' ,['bhutan']],
           ['bolivia', 'Bolivia (Plurinational State of)', 'BO', 'BOL','068',['bolivia']],
           ['bonaire saint eustatius and saba','Bonaire, Sint Eustatius and Saba', 'BQ', 'BES', '535',['bonaire saint eustatius and saba']],
           ['bosnia and herzegovina','Bosnia and Herzegovina','BA', 'BIH', '070' ,['bosnia and herzegovina']],
           ['botswana', 'Botswana', 'BW', 'BWA', '072',['botswana']],
           ['bouvet island','Bouvet Island','BV', 'BVT', '074' ,['bouvet island']],
           ['brazil','Brazil','BR', 'BRA', '076',['brazil']],
           ['british indian ocean territory','British Indian Ocean Territory','IO','IOT','086',['british indian ocean territory']],
           ['brunei', 'Brunei Darussalam','BN','BRN','096',['brunei', 'brunei darussalam']],
           ['bulgaria','Bulgaria','BG','BGR','100',['bulgaria']],
           ['burkina faso','Burkina Faso','BF','BFA','854',['burkina faso']],
           ['burundi','Burundi','BI','BDI','108',['burundi']],
           ['cambodia','Cambodia','KH','KHM','116',['cambodia']],
           ['cameroon','Cameroon','CM','CMR','120',['cameroon']],
           ['canada','Canada','CA','CAN','124',['canada']],
           ['cape verde','Cabo Verde','CV','CPV','132',['cape verde']],
           ['cayman islands','Cayman Islands','KY','CYM','136',['cayman islands']],
           ['central african republic','Central African Republic','CF','CAF','140',['central african republic']],
           ['chad','Chad','TD','TCD','148',['chad']],
           ['china', 'China','CN','CHN','156',[ "the people's republic of china",'china','chian','china?','chinese']],
           ['chile','Chile','CL','CHL','152',['chile']],
           ['christmas island','Christmas Island','CX','CXR','162',[ 'christmas island']],
           ['cocos (keeling) islands','Cocos (Keeling) Islands','CC','CCK','166',[ 'cocos (keeling) islands']],
           ['colombia', 'Colombia','CO','COL','170',['colombia','columbia']],
           ['comoros','Comoros','KM','COM','174',['comoros']],
           ['congo','Congo','CG','COG','178',['congo']],
           ['democratic republic of the congo','Congo, Democratic Republic of the','CD','COD','180',['democratic republic of the congo']],
           ['cook islands','Cook Islands','CK','COK','184',['cook islands']],
           ['costa rica','Costa Rica','CR','CRI','188',['costa rica']],
           ["cote d'ivoire","Côte d'Ivoire",'CI','CIV','384',["cote d'ivoire'",'cote divoire', "côte d'ivoire",]],
           ['croatia','Croatia','HR','HRV','191',['croatia']],
           ['cuba','Cuba','CU','CUB','192',['cuba', 'cuba ',]],
           ['curacao', 'Curaçao','CW','CUW','531',['curacao']],
           ['cyprus', 'Cyprus','CY','CYP','196',['cyprus']],
           ['czech republic','Czechia','CZ','CZE','203',[ 'czech rep', 'czech republic','czechia']],
           ['denmark', 'Denmark','DK','DNK','208',['denmark']],
           ['djibouti','Djibouti','DJ','DJI','262',['djibouti']],
           ['dominica','Dominica','DM','DMA','212',['dominica']],
           ['dominican republic','Dominican Republic','DO','DOM','214',['dominican republic']],
           ['ecuador','Ecuador','EC','ECU','218',['ecuador']],
           ['egypt','Egypt','EG','EGY','818',[ 'the arab republic of egypt','egypt']],
           ['el salvador','El Salvador','SV','SLV','222',['el salvador']],
           ['equatorial guinea','Equatorial Guinea','GQ','GNQ','226',['equatorial guinea']],
           ['eritrea','Eritrea','ER','ERI','232',['eritrea']],
           ['estonia','Estonia','EE','EST','233',['estonia']],
           ['ethiopia','Ethiopia','ET','ETH','231',['ethiopia']],
           ['falkland islands','Falkland Islands (Malvinas)','FK','FLK','238',['falkland islands']],
           ['faroe islands','Faroe Islands','FO','FRO','234',['faroe islands']],
           ['fiji','Fiji','FJ','FJI','242',['fiji']],
           ['finland','Finland','FI','FIN','246',['finland']],
           ['france','France','FR','FRA','250',['france']],
           ['french guiana','French Guiana','GF','GUF','254',['french guiana']],
           ['french polynesia','French Polynesia','PF','PYF','258',['french polynesia']],
           ['french southern territories','French Southern Territories','TF','ATF','260',[ 'french southern territories']],
           ['gabon','Gabon','GA','GAB','266',['gabon']],
           ['gambia','Gambia','GM','GMB','270',['gambia']],
           ['georgia','Georgia','GE','GEO','268',['georgia']],
           ['germany','Germany','DE','DEU','276',['germany']],
           ['ghana','Ghana','GH','GHA','288',['ghana']],
           ['gibraltar','Gibraltar','GI','GIB','292',['gibraltar']],
           ['greece','Greece','GR','GRC','300',['greece']],
           ['greenland','Greenland','GL','GRL','304',['greenland']],
           ['grenada','Grenada','GD','GRD','308',['grenada']],
           ['guadeloupe','Guadeloupe','GP','GLP','312',['guadeloupe']],
           ['guam','Guam','GU','GUM','316',['guam']],
           ['guatemala','Guatemala','GT','GTM','320',['guatemala']],
           ['guernsey','Guernsey','GG','GGY','831',['guernsey']],
           ['guinea','Guinea','GN','GIN','324',['guinea']],
           ['guinea-bissau','Guinea-Bissau','GW','GNB','624',['guinea-bissau']],
           ['guyana','Guyana','GY','GUY','328',['guyana']],
           ['haiti','Haiti','HT','HTI','332',['haiti']],
           ['heard island and mcdonald islands','Heard Island and McDonald Islands','HM','HMD','334',[ 'heard island and mcdonald islands']],
           ['holy see (vatican city state)','Holy See','VA','VAT','336',[ 'holy see (vatican city state)']],
           ['honduras','Honduras','HN','HND','340',['honduras']],
           ['hong kong','Hong Kong','HK','HKG','344',['hong kong']],
           ['hungary','Hungary','HU','HUN','348',['hungary', 'hungaria']],
           ['iceland','Iceland','IS','ISL','352',['iceland']],
           ['india','India','IN','IND','356',['india']],
           ['indonesia','Indonesia','ID','IDN','360',['indonesia']],
           ['iran (islamic republic of)', 'Iran (Islamic Republic of)','IR','IRN','364',['iran', 'iran ', 'iran (islamic republic of)']],
           ['iraq','Iraq','IQ','IRQ','368',['iraq']],
           ['ireland', 'Ireland','IE','IRL','372',['ireland']],
           ['isle of man','Isle of Man','IM','IMN','833',['isle of man']],
           ['israel','Israel','IL','ISR','376',['israel']],
           ['italy','Italy','IT','ITA','380',['italy']],
           ['jamaica','Jamaica','JM','JAM','388',['jamaica']],
           ['japan','Japan','JP','JPN','392',[ '\n            japan','japan']],
           ['jersey', 'Jersey','JE','JEY','832',['jersey']],
           ['jordan','Jordan','JO','JOR','400',['jordan']],
           ['kazakhstan','Kazakhstan','KZ','KAZ','398',['kazakhstan']],
           ['kenya','Kenya','KE','KEN','404',['kenya']],
           ['kiribati','Kiribati','KI','KIR','296',['kiribati']],
           ['korea',"Korea (Democratic People's Republic of)",'KP','PRK','408',['korea',"democratic people's republic of korea"]],
           ['korea south','Korea, Republic of','KR','KOR','410',['korea south', 'republic of korea']],
           ['kuwait','Kuwait','KW','KWT','414',['kuwait']],
           ['kyrgyzstan','Kyrgyzstan','KG','KGZ','417',['kyrgyzstan']],
           ["lao people's democratic republic","Lao People's Democratic Republic",'LA','LAO','418',[ "lao people's democratic republic",'laos']],
           ['latvia','Latvia','LV','LVA','428',['latvia']],
           ['lebanon','Lebanon','LB','LBN','422',['lebanon']],
           ['lesotho','Lesotho','LS','LSO','426',['lesotho']],
           ['liberia','Liberia','LR','LBR','430',['liberia']],
           ['libya','Libya','LY','LBY','434',['libya','libyan arab jamahiriya']],
           ['liechtenstein', 'Liechtenstein','LI','LIE','438',['liechtenstein']],
           ['lithuania','Lithuania','LT','LTU','440',['lithuania']],
           ['luxembourg','Luxembourg','LU','LUX','442',['luxembourg']],
           ['macao','Macao','MO','MAC','446',['macao']],
           ['madagascar','Madagascar','MG','MDG','450',['madagascar']],
           ['malawi','Malawi','MW','MWI','454',['malawi']],
           ['malaysia','Malaysia','MY','MYS','458',['malaysia']],
           ['maldives','Maldives','MV','MDV','462',['maldives']],
           ['mali','Mali','ML','MLI','466',['mali']],
           ['malta','Malta','MT','MLT','470',['malta']],
           ['marshall islands','Marshall Islands','MH','MHL','584',['marshall islands']],
           ['martinique','Martinique','MQ','MTQ','474',['martinique']],
           ['mauritania','Mauritania','MR','MRT','478',['mauritania']],
           ['mauritius','Mauritius','MU','MUS','480',['mauritius']],
           ['mayotte','Mayotte','YT','MYT','175',['mayotte']],
           ['mexico','Mexico','MX','MEX','484',['mexico']],
           ['micronesia (federated states of)','Micronesia (Federated States of)','FM','FSM','583',['micronesia (federated states of)','micronesia']],
           ['moldova','Moldova, Republic of','MD','MDA','498',['moldova','modalvia','republic of moldova',]],
           ['monaco','Monaco','MC','MCO','492',['monaco']],
           ['mongolia','Mongolia','MN','MNG','496',['mongolia']],
           ['montenegro','Montenegro','ME','MNE','499',['montenegro']],
           ['montserrat','Montserrat','MS','MSR','500',['montserrat']],
           ['morocco','Morocco','MA','MAR','504',['morocco']],
           ['mozambique', 'Mozambique','MZ','MOZ','508',['mozambique']],
           ['myanmar','Myanmar','MM','MMR','104',['myanmar']],
           ['namibia','Namibia','NA','NAM','516',['namibia']],
           ['nauru','Nauru','NR','NRU','520',['nauru']],
           ['nederland','Netherlands','NL','NLD','528',[ 'the netherlands','nederland','netherlands', 'netherlands antilles','holland']],
           ['nepal','Nepal','NP','NPL','524',['nepal']],
           ['new caledonia','New Caledonia','NC','NCL','540',['new caledonia']],
           ['new zealand','New Zealand','NZ','NZL','554',['new zealand']],
           ['nicaragua','Nicaragua','NI','NIC','558',['nicaragua']],
           ['niger','Niger','NE','NER','562',['niger']],
           ['nigeria', 'Nigeria','NG','NGA','566',['nigeria']],
           ['niue','Niue','NU','NIU','570',['niue']],
           ['norfolk island','Norfolk Island','NF','NFK','574',['norfolk island']],
           ['north macedonia', 'North Macedonia','MK','MKD','807',[ 'the former yugoslav republic of macedonia','north macedonia','macedonia']],
           ['northern mariana islands','Northern Mariana Islands','MP','MNP','580',['northern mariana islands']],
           ['norway','Norway','NO','NOR','578',['norway']],
           ['oman','Oman','OM','OMN','512',['oman']],
           ['pakistan','Pakistan','PK','PAK','586',[ '\n            pakistan\n        ','pakistan']],
           ['palau','Palau','PW','PLW','585',['palau']],
           ['palestine','Palestine, State of','PS','PSE','275',['palestine', 'palestinian territory']],
           ['panama','Panama','PA','PAN','591',['panama']],
           ['papua new guinea','Papua New Guinea','PG','PNG','598',['papua new guinea']],
           ['paraguay','Paraguay','PY','PRY','600',['paraguay']],
           ['peru','Peru','PE','PER','604',['peru','peru rep']],
           ['philippines','Philippines','PH','PHL','608',['philippines',]],
           ['pitcairn','Pitcairn','PN','PCN','612',['pitcairn']],
           ['poland','Poland','PL','POL','616',[ 'poland rep','poland']],
           ['portugal','Portugal','PT','PRT','620',['portugal']],
           ['puerto rico','Puerto Rico','PR','PRI','630',['puerto rico']],
           ['qatar','Qatar','QA','QAT','634',['qatar']],
           ['reunion','Réunion','RE','REU','638',['reunion','réunion']],
           ['romania','Romania','RO','ROU','642',['romania']],
           ['russia','Russian Federation','RU','RUS','643',['russia','russian federation']],
           ['rwanda','Rwanda','RW','RWA','646',['rwanda']],
           ['saint barthelemy','Saint Barthélemy','BL','BLM','652',['saint barthelemy']],
           ['saint helena','Saint Helena, Ascension and Tristan da Cunha','SH','SHN','654',['saint helena']],
           ['saint kitts and nevis','Saint Kitts and Nevis','KN','KNA','659',['saint kitts and nevis']],
           ['saint lucia','Saint Lucia','LC','LCA','662',['saint lucia']],
           ['saint martin (french part)','Saint Martin (French part)','MF','MAF','663',['saint martin (french part)']],
           ['saint pierre and miquelon','Saint Pierre and Miquelon','PM','SPM','666',['saint pierre and miquelon']],
           ['saint vincent and the grenadines','Saint Vincent and the Grenadines','VC','VCT','670',['saint vincent and the grenadines']],
           ['samoa', 'Samoa','WS','WSM','882',['samoa']],
           ['san marino','San Marino','SM','SMR','674',['san marino']],
           ['sao tome and principe','Sao Tome and Principe','ST','STP','678',[ 'sao tome and principe']],
           ['saudi arabia','Saudi Arabia','SA','SAU','682',[ 'saudi arabia']],
           ['senegal','Senegal','SN','SEN','686',['senegal']],
           ['serbia','Serbia','RS','SRB','688',['serbia ','serbia']],
           ['seychelles','Seychelles','SC','SYC','690',['seychelles']],
           ['sierra leone','Sierra Leone','SL','SLE','694',['sierra leone']],
           ['singapore','Singapore','SG','SGP','702',['singapore','republic of singapore']],
           ['sint maarten (dutch part)','Sint Maarten (Dutch part)','SX','SXM','534',['sint maarten (dutch part)']],
           ['slovakia','Slovakia','SK','SVK','703',['slovakia']],
           ['slovenia','Slovenia','SI','SVN','705',['slovenia']],
           ['solomon islands','Solomon Islands','SB','SLB','090',['solomon islands']],
           ['somalia','Somalia','SO','SOM','706',['somalia']],
           ['south africa','South Africa','ZA','ZAF','710',['south africa']],
           ['south georgia and the south sandwich is','South Georgia and the South Sandwich Islands','GS','SGS','239',['south georgia and the south sandwich is']],
           ['south sudan','South Sudan','SS','SSD','728',[ 'south sudan']],
           ['spain','Spain','ES','ESP','724',['spain']],
           ['sri lanka','Sri Lanka','LK','LKA','144',[ '\n            sri lanka\n        ','sri lanka']],
           ['sudan','Sudan','SD','SDN','729',['sudan']],
           ['suriname','Suriname','SR','SUR','740',['suriname']],
           ['svalbard and jan mayen', 'Svalbard and Jan Mayen','SJ','SJM','744',[ 'svalbard and jan mayen']],
           ['swaziland','Eswatini','SZ','SWZ','748',['swaziland']],
           ['sweden', 'Sweden','SE','SWE','752',['sweden']],
           ['switzerland','Switzerland','CH','CHE','756',['switzerland']],
           ['syria','Syrian Arab Republic','SY','SYR','760',['syria','syrian arab republic']],
           ['taiwan','Taiwan (Province of China)','TW','TWN','158',['taiwan']],
           ['tajikistan','Tajikistan','TJ','TJK','762',['tajikistan']],
           ['tanzania','Tanzania, United Republic of','TZ','TZA','834',['tanzania', 'united republic of tanzania']],
           ['thailand','Thailand','TH','THA','764',['thailand']],
           ['timor-leste','Timor-Leste','TL','TLS','626',['timor-leste']],
           ['togo','Togo','TG','TGO','768',['togo']],
           ['tokelau','Tokelau','TK','TKL','772',['tokelau']],
           ['tonga','Tonga','TO','TON','776',['tonga']],
           ['trinidad and tobago','Trinidad and Tobago','TT','TTO','780',[ 'trinidad and tobago']],
           ['tunisia','Tunisia','TN','TUN','788',['tunisia']],
           ['turkey','Turkey','TR','TUR','792',['tã¼rkiye','turkey']],
           ['turkmenistan','Turkmenistan','TM','TKM','795',['turkmenistan']],
           ['turks and caicos islands','Turks and Caicos Islands','TC','TCA','796',[ 'turks and caicos islands']],
           ['tuvalu','Tuvalu','TV','TUV','798',['tuvalu']],
           ['uganda','Uganda','UG','UGA','800',['uganda']],
           ['ukraine','Ukraine','UA','UKR','804',['ukraine']],
           ['united arab emirates','United Arab Emirates','AE','ARE','784',[ 'united arab emirates']],
           ['united kindgdom','United Kingdom of Great Britain and Northern Ireland','GB','GBR','826',['united kindgdom', 'united kingdom','england','northern ireland','scotland','uk','wales']],
           ['united states of america','United States of America','US','USA','840',['usa','united states', 'united states\n        ','united states of america', ' u.s.','north america']],
           ['united states minor outlying islands','United States Minor Outlying Islands','UM','UMI','581',['united states minor outlying islands']],
           ['uruguay','Uruguay','UY','URY','858',['uruguay']],
           ['uzbekistan','Uzbekistan','UZ','UZB','860',['uzbekistan']],
           ['vanuatu','Vanuatu','VU','VUT','548',['vanuatu']],
           ['venezuela','Venezuela (Bolivarian Republic of)','VE','VEN','862',['venezuela','venezuela (bolivarian republic of)']],
           ['vietnam','Viet Nam','VN','VNM','704',['viet nam','vietnam','socialist republic of vietnam']],
           ['virgin islands','Virgin Islands (U.S.)','VI','VIR','850',['virgin islands']],
           ['wallis and futuna','Wallis and Futuna','WF','WLF','876',['wallis and futuna']],
           ['western sahara','Western Sahara','EH','ESH','732',['western sahara']],
           ['yemen','Yemen','YE','YEM','887',['yemen']],
           ['zambia','Zambia','ZM','ZMB','894',['zambia']],
           ['zimbabwe','Zimbabwe','ZW','ZWE','716',['zimbabwe']],
           ['404','404','404','404','404',[ 'nan',  '??', 'other', 'south america','europe','european', 'european union','asia(except japan)']],
           ]

Creation of a DataFrame for ISO standard country names

In [ ]:
countries_ISO_data = pd.DataFrame(values_ISO_countries,columns=columns_ISO_countries)

In [ ]:
countries_ISO_data

,Country,English_Short_Name,Alpha-2_Code,Alpha-3_Code,Numeric_Code,Synonyms
0,afghanistan,Afghanistan,AF,AFG,004,[afghanistan]
1,africa,Central African Republic,CF,CAF,140,"[africa, central african republic]"
2,aland islands,Åland Islands,AX,ALA,248,[aland islands]
3,albania,Albania,AL,ALB,008,[albania]
4,algeria,Algeria,DZ,DZA,012,[algeria]
...,...,...,...,...,...,...
245,western sahara,Western Sahara,EH,ESH,732,[western sahara]
246,yemen,Yemen,YE,YEM,887,[yemen]
247,zambia,Zambia,ZM,ZMB,894,[zambia]
248,zimbabwe,Zimbabwe,ZW,ZWE,716,[zimbabwe]
249,404,404,404,404,404,"[nan, ??, other, south america, europe, europe..."

DataFrame columns name to upper case, and index creation starting at 1.

For easy database manipulation.

In [ ]:
countries_ISO_data.sort_values('English_Short_Name', inplace=True)
countries_ISO_data.reset_index(inplace=True, drop=True)

countries_ISO_data.index =  countries_ISO_data.index + 1
countries_ISO_data.reset_index(inplace=True)

In [ ]:
countries_ISO_data.columns = countries_ISO_data.columns.str.upper()
countries_ISO_data.rename(columns = {'INDEX':'ID','ENGLISH_SHORT_NAME': 'NAME', 'ALPHA-2_CODE':'ALPHA_2_CODE', 'ALPHA-3_CODE':'ALPHA_3_CODE' }, inplace=True)

countries_ISO_data.drop('COUNTRY', axis=1, inplace = True)

In [ ]:
countries_ISO_data

,ID,NAME,ALPHA_2_CODE,ALPHA_3_CODE,NUMERIC_CODE,SYNONYMS
0,1,404,404,404,404,"[nan, ??, other, south america, europe, europe..."
1,2,Afghanistan,AF,AFG,004,[afghanistan]
2,3,Albania,AL,ALB,008,[albania]
3,4,Algeria,DZ,DZA,012,[algeria]
4,5,American Samoa,AS,ASM,016,"[american samoa, \n american samoa\..."
...,...,...,...,...,...,...
245,246,Western Sahara,EH,ESH,732,[western sahara]
246,247,Yemen,YE,YEM,887,[yemen]
247,248,Zambia,ZM,ZMB,894,[zambia]
248,249,Zimbabwe,ZW,ZWE,716,[zimbabwe]
249,250,Åland Islands,AX,ALA,248,[aland islands]

Export to CSV for API consumption

In [ ]:
countries_ISO_data.to_csv('countries_Standard.csv', index=False)

## Countries VS TrialID

A DataFrame that correlates the event ID and the ISO Country names for easy API and database manipulation

In [ ]:
countries_reference = countries_ISO_data[['ID','SYNONYMS']]
countries_reference['ID'] = countries_reference['ID'] - 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Extract ID and COUNTRIES from the original DataFrame

In [ ]:
inspect_countries = df[['ID','COUNTRIES']]

Countries are transformed to lower case and ';' is replaced by ','

In [ ]:
inspect_countries['COUNTRIES'] = inspect_countries['COUNTRIES'].apply(lambda x: str(x).lower().replace(';', ','))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Match countries ID in ISO standard ]
with event ID in the original DataFrame

In [ ]:
# Big list that matches the country with the ID
countries_trialsID = []

# Go through all the COUNTRY ISO names
for index,row_outer in countries_reference.iterrows():
  aliases = row_outer['SYNONYMS']

  # Temporal storage for ID pair of COUNTRY - TRIAL
  trial_id_list = []
  
  # Go through all the original DataFrame of TRIALID
  for index,row_inner in inspect_countries.iterrows():

    # If any string of the "COUNTRIES" column matches any value of the "SYNONYMS" in the ISO STANDARD NAME for countries 
    if any(word in row_inner['COUNTRIES'] for word in aliases):
      # Append the ISO STANDARD NAME ID and the original df ID
      trial_id_list = [row_outer['ID'], row_inner['ID']]


      # Apendr to the big list for easy DataFrame creation
      countries_trialsID.append(trial_id_list)

In [ ]:
len(countries_trialsID)

20319

In [ ]:
# DataFrame Creation
countries_trials_ID = pd.DataFrame(countries_trialsID, columns = ['COUNTRY', 'ID'])

A 'pivot table' is created.

This table matches the ID of the COUNTRY ISO STANDARD NAME and the Event ID in the original dataset

In [ ]:
countries_trials_ID

       COUNTRY     ID
0            0      6
1            0     30
2            0    119
3            0    182
4            0    204
...        ...    ...
20314      248  14255
20315      248  14270
20316      248  14634
20317      249   1124
20318      249   1310

[20319 rows x 2 columns]

In [ ]:
# Export Pivot Table
countries_trials_ID.to_csv('ID_country.csv', index=False)

## Append Clean Countries to Original DataFrame

The corrected list of names that appear in the 'COUNTRIES' column without typos is appended to the original DataFrame

In [ ]:
# Import pivot table
countries_trials_pivot = pd.read_csv('ID_country.csv')

In [ ]:
# Sort by TrialID
countries_trials_pivot.sort_values('ID')

       COUNTRY     ID
16426      218      1
3246        46      2
18233      237      3
18234      237      4
10147      106      5
...        ...    ...
12366      113  14681
12367      113  14682
12368      113  14683
12369      113  14684
12370      113  14685

[20319 rows x 2 columns]

Group by TRIALID and make a list of the countries that match the same TRIALID

In [ ]:
reverse_search = countries_trials_pivot.groupby(['ID'])['COUNTRY'].apply(list)

Match ID of the country with the ISO STANDARD NAME

In [ ]:
big_list = []

# For every TRIALID
for i in reverse_search:

    # Match the ID of the list with the ISO STANDARD NAME
    a_list = countries_ISO_data[countries_ISO_data['ID'].isin(i)]['NAME']

    # Append the values to a big list
    big_list.append(list(a_list))

In [ ]:
# Append to the original DataFrame
df['COUNTRIES_CLEAN'] = big_list

# Gender Exploration

Exploration of the 'INCLUSION GENDER' column

## Unique Gender Values Obtention

In [ ]:
df['INCLUSION GENDER'].unique()

array(['Both', 'All', 'Male', 'Female',
       '<br>Female: yes<br>Male: yes<br>', 'Both males and females',
       'Females', '<br>Female: no<br>Male: yes<br>', 'Males',
       '<br>Female: no<br>Male: no<br>', nan,
       '<br>Female: yes<br>Male: no<br>', 'BOTH', 'Not Specified',
       'Male and Female', 'Both, male and female', '-', 'M', 'F', 'B',
       'Male/Female'], dtype=object)

In [ ]:
sliced = df['INCLUSION GENDER'].apply(lambda x: str(x).lower().replace('<br>', '').replace(' ', '').replace(':','').replace(',',''))
sliced

0                 both
1                 both
2                 both
3                 both
4                 both
             ...
14680    maleandfemale
14681    maleandfemale
14682    maleandfemale
14683    maleandfemale
14684    maleandfemale
Name: INCLUSION GENDER, Length: 14685, dtype: object

In [ ]:
sliced.unique()

array(['both', 'all', 'male', 'female', 'femaleyesmaleyes',
       'bothmalesandfemales', 'females', 'femalenomaleyes', 'males',
       'femalenomaleno', 'nan', 'femaleyesmaleno', 'notspecified',
       'maleandfemale', 'bothmaleandfemale', '-', 'm', 'f', 'b',
       'male/female'], dtype=object)

Replacing Values

In [ ]:
inspect_gender = df[['ID','INCLUSION GENDER']]

In [ ]:
inspect_gender['INCLUSION GENDER'] = inspect_gender['INCLUSION GENDER'].apply(lambda x: str(x).lower().replace('<br>', '').replace(' ', '').replace(':','').replace(',',''))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
inspect_gender['INCLUSION GENDER'].unique()

array(['both', 'all', 'male', 'female', 'femaleyesmaleyes',
       'bothmalesandfemales', 'females', 'femalenomaleyes', 'males',
       'femalenomaleno', 'nan', 'femaleyesmaleno', 'notspecified',
       'maleandfemale', 'bothmaleandfemale', '-', 'm', 'f', 'b',
       'male/female'], dtype=object)

In [ ]:
gender_clean = list(inspect_gender['INCLUSION GENDER'])

for i in range(len(gender_clean)):
  if re.fullmatch('both',gender_clean[i]) or re.fullmatch('all', gender_clean[i]) or re.fullmatch('femaleyesmaleyes',gender_clean[i]) or re.fullmatch('bothmalesandfemales',gender_clean[i]) or re.fullmatch('maleandfemale',gender_clean[i]) or re.fullmatch('bothmaleandfemale',gender_clean[i]) or re.fullmatch('b',gender_clean[i]) or re.fullmatch('male/female',gender_clean[i]):
    gender_clean[i] = 'Both'

for i in range(len(gender_clean)):
  if re.fullmatch('female',gender_clean[i]) or re.fullmatch('females', gender_clean[i]) or re.fullmatch('femaleyesmaleno',gender_clean[i]) or re.fullmatch('f',gender_clean[i]):
    gender_clean[i] = 'Female'

for i in range(len(gender_clean)):
  if re.fullmatch('male',gender_clean[i]) or re.fullmatch('males', gender_clean[i]) or re.fullmatch('femalenomaleyes',gender_clean[i]) or re.fullmatch('m',gender_clean[i]):
    gender_clean[i] = 'Male'

for i in range(len(gender_clean)):
  if re.fullmatch('not specified',gender_clean[i]) or re.fullmatch('femalenomaleno', gender_clean[i]) or re.fullmatch('nan',gender_clean[i]) or re.fullmatch('notspecified',gender_clean[i]) or re.fullmatch('-',gender_clean[i]):
    gender_clean[i] = 'Not Specified'



gender_clean = pd.Series(gender_clean)
gender_clean.unique()

array(['Both', 'Male', 'Female', 'Not Specified'], dtype=object)

In [ ]:
df['GENDER_CLEAN'] = gender_clean

# Study Type Exploration

In [ ]:
str_study_type =df['STUDY TYPE'].astype(str).apply(lambda x: x.lower().replace(' ', '').replace(',', '').replace('[','').replace(']',''))

## Unique Values Obtention

In [ ]:
str_study_type.unique()

array(['observational', 'interventional', 'observationalstudy',
       'interventionalstudy', 'diagnostictest', 'prevention',
       'prognosisstudy', 'basicscience', 'treatmentstudy',
       'epidemilogicalresearch', 'healthservicesreaserch', 'screening',
       'interventionalclinicaltrialofmedicinalproduct',
       'observationalpatientregistry', 'healthservicesresearch',
       'expandedaccess', 'pms', 'other', 'othersmeta-analysisetc',
       'unknown', 'intervention'], dtype=object)

In [ ]:
observational = ['observational', 'observationalstudy', 'observationalpatientregistry']
interventional = ['interventional', 'interventionalstudy','interventionalclinicaltrialofmedicinalproduct', 'intervention']
diagnostic = ['diagnostictest']
prevention = ['prevention']
prognosis = ['prognosisstudy']
treatment = ['treatmentstudy']
epidemiological = ['epidemilogicalresearch']
health_service = ['healthservicesreaserch', 'healthservicesresearch']
screening = ['screening']
expanded = ['expandedaccess']
pms = ['pms']
basic_science = ['basicscience']
not_specified = ['nan', 'other', 'othersmeta-analysisetc', 'unknown']

In [ ]:
str_study_type = list(str_study_type)

In [ ]:
for i in range(len(str_study_type)):
  if re.fullmatch('observational',str_study_type[i]) or re.fullmatch('observationalstudy', str_study_type[i]) or re.fullmatch('observationalpatientregistry',str_study_type[i]):
    str_study_type[i] = 'Observational Study'

for i in range(len(str_study_type)):
  if re.fullmatch('interventional',str_study_type[i]) or re.fullmatch('interventionalstudy', str_study_type[i]) or re.fullmatch('interventionalclinicaltrialofmedicinalproduct',str_study_type[i]) or re.fullmatch('intervention',str_study_type[i]):
    str_study_type[i] = 'Interventional Study'

for i in range(len(str_study_type)):
  if re.fullmatch('diagnostictest',str_study_type[i]):
    str_study_type[i] = 'Diagnostic Study'

for i in range(len(str_study_type)):
  if re.fullmatch('prevention',str_study_type[i]):
    str_study_type[i] = 'Prevention Study'

for i in range(len(str_study_type)):
  if re.fullmatch('prognosisstudy',str_study_type[i]):
    str_study_type[i] = 'Prognosis Study'

for i in range(len(str_study_type)):
  if re.fullmatch('treatmentstudy',str_study_type[i]):
    str_study_type[i] = 'Treatment Study'

for i in range(len(str_study_type)):
  if re.fullmatch('epidemilogicalresearch',str_study_type[i]):
    str_study_type[i] = 'Epidemiological Research'

for i in range(len(str_study_type)):
  if re.fullmatch('healthservicesreaserch',str_study_type[i]) or re.fullmatch('healthservicesresearch',str_study_type[i]):
    str_study_type[i] = 'Health Services Research'

for i in range(len(str_study_type)):
  if re.fullmatch('screening',str_study_type[i]):
    str_study_type[i] = 'Screening Research'

for i in range(len(str_study_type)):
  if re.fullmatch('expandedaccess',str_study_type[i]):
    str_study_type[i] = 'Expanded Accces Study'

for i in range(len(str_study_type)):
  if re.fullmatch('pms',str_study_type[i]):
    str_study_type[i] = 'PMS Research'

for i in range(len(str_study_type)):
  if re.fullmatch('basicscience',str_study_type[i]):
    str_study_type[i] = 'Basic Science Research'

for i in range(len(str_study_type)):
  if re.fullmatch('nan',str_study_type[i]) or re.fullmatch('other',str_study_type[i]) or re.fullmatch('othersmeta-analysisetc',str_study_type[i]) or re.fullmatch('unknown',str_study_type[i]):
    str_study_type[i] = 'Not Specified'

In [ ]:
df['STUDY_TYPE_CLEAN'] = str_study_type

In [ ]:
df

,ID,TRIALID,LAST REFRESHED ON,PUBLIC TITLE,SCIENTIFIC TITLE,ACRONYM,PRIMARY SPONSOR,DATE REGISTRATION,DATE REGISTRATION3,EXPORT DATE,...,RESULTS DATE POSTED,RESULTS DATE COMPLETED,RESULTS URL LINK,RETROSPECTIVE FLAG,BRIDGING FLAG TRUEFALSE,BRIDGED TYPE,RESULTS YES NO,COUNTRIES_CLEAN,GENDER_CLEAN,STUDY_TYPE_CLEAN
0,1,NCT00173563,19 February 2015,Induction of Cytokines in Human Monocytes by S...,Induction of Cytokines in Human Monocytes by S...,NaN,National Taiwan University Hospital,12/09/2005,20050912,7/7/2022 10:12:07 AM,...,NaN,NaN,NaN,Yes,False,,NaN,[Syrian Arab Republic],Both,Observational Study
1,2,NCT00523276,19 February 2015,SARS Survivor Evaluations,"Immune Responses, Transmission and Nucleotide ...",NaN,National Institute of Allergy and Infectious D...,30/08/2007,20070830,7/7/2022 10:12:07 AM,...,NaN,NaN,NaN,No,False,,NaN,[Chile],Both,Observational Study
2,3,NCT00533741,19 February 2015,SARS Coronavirus Vaccine (SARS-CoV),"Phase I, Double-Blinded, Placebo-Controlled Do...",NaN,National Institute of Allergy and Infectious D...,20/09/2007,20070920,7/7/2022 10:12:07 AM,...,NaN,NaN,NaN,Yes,False,,NaN,[United States Minor Outlying Islands],Both,Interventional Study
3,4,NCT01376765,19 February 2015,Phase I Dose Escalation SARS-CoV Recombinant S...,"Phase I, Double-Blinded, Placebo-Controlled, D...",NaN,National Institute of Allergy and Infectious D...,16/06/2011,20110616,7/7/2022 10:12:07 AM,...,NaN,NaN,NaN,Yes,False,,NaN,[United States Minor Outlying Islands],Both,Interventional Study
4,5,IRCT20180223038837N1,14 January 2019,Comparative study of radiofrequency ablation &...,Comparative study of radiofrequency ablation &...,NaN,Kermanshah University of Medical Sciences,2018-12-08,20181208,7/7/2022 10:12:07 AM,...,NaN,NaN,NaN,No,False,,NaN,[Indonesia],Both,Interventional Study
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14680,14681,JPRN-UMIN000047920,6 July 2022,Immune persistence and safety survey (cohort s...,Immune persistence and safety survey (cohort s...,NaN,"Juntendo University, School of Medicine",01/06/2022,20220601,7/7/2022 10:12:07 AM,...,NaN,30/09/2023,NaN,No,False,,NaN,[Jamaica],Both,Observational Study
14681,14682,JPRN-UMIN000047947,6 July 2022,Leading to a satisfying delivery experience fo...,Leading to a satisfying delivery experience fo...,NaN,Osaka Medical and Pharmaceutical University\nT...,04/06/2022,20220604,7/7/2022 10:12:07 AM,...,NaN,31/03/2024,NaN,Yes,False,,NaN,[Jamaica],Both,Interventional Study
14682,14683,JPRN-UMIN000047978,6 July 2022,Study of COVID-19-related thromboembolism and ...,Study of COVID-19-related thromboembolism and ...,NaN,Nihon University Itabashi Hospital\nDepartmen...,07/06/2022,20220607,7/7/2022 10:12:07 AM,...,NaN,01/03/2023,NaN,No,False,,NaN,[Jamaica],Both,Observational Study
14683,14684,JPRN-UMIN000048027,6 July 2022,Clinical Study Report of\nSARS-CoV-2 Antigen R...,SARS-CoV-2 Antigen Rapid Test \n(nasopharyngea...,NaN,"Hangzhou AllTest Biotech Co., Ltd",10/06/2022,20220610,7/7/2022 10:12:07 AM,...,NaN,31/08/2022,NaN,No,False,,NaN,[Jamaica],Both,Observational Study
14684,14685,JPRN-UMIN000048028,6 July 2022,SARS-CoV-2 Antigen Rapid Test (nasal swab)\nIN...,SARS-CoV-2 Antigen Rapid Test (nasal swab)\nIN...,NaN,"Hangzhou AllTest Biotech Co., Ltd",10/06/2022,20220610,7/7/2022 10:12:07 AM,...,NaN,31/08/2022,NaN,No,False,,NaN,[Jamaica],Both,Observational Study

# Inlcusion Age Exploration

In [ ]:
def searchnum(x):
  x = str(x)
  y = re.search(r'\d+', x)
  if y == None:
    y = NaN
  else:
    y = y.group()
  return y

In [ ]:
def searchunit(x):
  x = str(x).lower().replace(" ","")
  x = x.replace("-","")
  x = x.replace("(","")
  x = x.replace(")","")
  x = x.replace("?","")
  if ("years" in x) or ("year" in x) or ("y" in x) or ("ageold" in x) or (len(x) <= 2):
    x = "years"
  elif ("months" in x) or ("month" in x) or ("m" in x):
    x = "months"
  elif ("days" in x) or ("day" in x):
    x = "days"
  elif ("weeks" in x) or ("week" in x):
    x = "weeks"
  else:
    x = "not specified"
  return x

## Unique Values Obtention

In [ ]:
df['INCLUSION_AGEMIN_NUMBER'] = df['INCLUSION AGEMIN'].apply(lambda x: searchnum(x))
df['INCLUSION_AGEMAX_NUMBER'] = df['INCLUSION AGEMAX'].apply(lambda x: searchnum(x))
df['INCLUSION_AGEMIN_UNIT'] =  df['INCLUSION AGEMIN'].apply(lambda x: searchunit(x))
df['INCLUSION_AGEMAX_UNIT'] =  df['INCLUSION AGEMAX'].apply(lambda x: searchunit(x))

# Target Size Exploration

In [ ]:
def sumnum(x):
  mynumlist = [i for i in x if i.isdigit()]
  mynumlist = list(map(int, mynumlist))
  return sum(mynumlist)

## Unique Values Obtention

In [ ]:
df['TARGET_SIZE_CLEAN'] = df['TARGET SIZE'].astype(str).apply(lambda x: x.replace(":",";")).apply(lambda x: x.split(sep=";"))
df['TARGET_SIZE_CLEAN'] = df['TARGET_SIZE_CLEAN'].apply(lambda x: sumnum(x))

# Recruitment Status Exploration

In [ ]:
str_recruitment_status = df['RECRUITMENT STATUS'].apply(lambda x: str(x).lower().replace('<br>', '').replace(' ', '').replace(':','').replace(',',''))
str_recruitment_status

0           recruiting
1        notrecruiting
2        notrecruiting
3        notrecruiting
4           recruiting
             ...
14680       recruiting
14681    notrecruiting
14682       recruiting
14683       recruiting
14684       recruiting
Name: RECRUITMENT STATUS, Length: 14685, dtype: object

In [ ]:
recruiting = ['recruiting', 'authorised']
not_recruiting = ['notrecruiting']
not_specified = ['nan', 'notavailable'] #'Not Specified'

In [ ]:
str_recruitment_status = list(str_recruitment_status)

In [ ]:
for i in range(len(str_recruitment_status)):
  if re.fullmatch('recruiting',str_recruitment_status[i]) or re.fullmatch('authorised', str_recruitment_status[i]):
    str_recruitment_status[i] = 'Recruiting'

for i in range(len(str_recruitment_status)):
  if re.fullmatch('notrecruiting',str_recruitment_status[i]):
    str_recruitment_status[i] = 'Not Recruiting'

for i in range(len(str_recruitment_status)):
  if re.fullmatch('nan',str_recruitment_status[i]) or re.fullmatch('notavailable',str_recruitment_status[i]):
    str_recruitment_status[i] = 'Not Specified'

In [ ]:
df['RECRUITMENT STATUS'] = str_recruitment_status

In [ ]:
df['RECRUITMENT STATUS'].unique()

array(['Recruiting', 'Not Recruiting', 'Not Specified'], dtype=object)

# Bridged Type Exploration

In [ ]:
str_bridged_status = df['BRIDGED TYPE'].apply(lambda x: str(x).lower().replace('<br>', '').replace(' ', '').replace(':','').replace(',',''))

In [ ]:
str_bridged_status.unique()

array(['', 'parent', 'child'], dtype=object)

## Obtaining Unique Values

In [ ]:
for i in range(len(str_bridged_status)):
  if re.fullmatch('',str_bridged_status[i]):
    str_bridged_status[i] = 'Not Specified'

for i in range(len(str_bridged_status)):
  if re.fullmatch('parent',str_bridged_status[i]):
    str_bridged_status[i] = 'Parent'

for i in range(len(str_bridged_status)):
  if re.fullmatch('child',str_bridged_status[i]):
    str_bridged_status[i] = 'Child'

In [ ]:
df['BRIDGED TYPE'] = str_bridged_status

# Results Yes No Exploration

## Obtaininig Unique Values

In [ ]:
df['RESULTS YES NO'] = df['RESULTS YES NO'].fillna('No')

# Phase Exploration

## Obtaining Unique Values

In [ ]:
df['PHASE'].unique()

array([nan, 'Phase 1', 'Phase 4', 'Retrospective study', '0', '4', '3',
       'New Treatment Measure Clinical Study', '2', '1-2', '1', '2-3',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): no\n',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Not Applicable',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): yes\n',
       'Phase 2', 'Diagnostic New Technique Clincal Study',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Phase2/Phase3', 'Phase2', 'Phase II/III', 'Phase 1 / Phase 2',
       'Phase II',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): no\n',
       'Not Specified', 'Phase III/IV', '0 (exploratory trials)',
       'Phase 3', 'Not applicable', 'Phase I', 'Phase 2/Phase 3',
       'Phase 1/Phase 2', 'Early Phase 1', 'Phase 2 / Phase 3',
       'Phase IV', 'Phase III',
       'Human pharmacology (Phase I): no\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): yes\nTherapeutic use (Phase IV): yes\n',
       'Phase I/II',
       'Human pharmacology (Phase I): \nTherapeutic exploratory (Phase II): yes\nTherapeutic confirmatory - (Phase III): \nTherapeutic use (Phase IV): no\n',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): yes\n',
       'Phase 0', 'Phase3', 'Phase1/Phase2', 'Bioequivalence',
       'Phase 1/ Phase 2', 'Post Marketing Surveillance',
       'Phase 2/ Phase 3', 'Phase 3/ Phase 4', 'Phase1',
       'Human pharmacology (Phase I): yes\nTherapeutic exploratory (Phase II): no\nTherapeutic confirmatory - (Phase III): no\nTherapeutic use (Phase IV): no\n',
       'Not selected', 'Phase II,III', 'IIb', 'I', 'III', 'IV', 'II-III',
       'II', 'I-II', 'Phase 2-3', 'Phase 1-2', 'Phase-3', 'Phase-2',
       'Phase-1'], dtype=object)

# General Text-Date-Number Data Scrubbing

In [ ]:
df.columns

Index(['ID', 'TRIALID', 'LAST REFRESHED ON', 'PUBLIC TITLE',
       'SCIENTIFIC TITLE', 'ACRONYM', 'PRIMARY SPONSOR', 'DATE REGISTRATION',
       'DATE REGISTRATION3', 'EXPORT DATE', 'SOURCE REGISTER', 'WEB ADDRESS',
       'RECRUITMENT STATUS', 'OTHER RECORDS', 'INCLUSION AGEMIN',
       'INCLUSION AGEMAX', 'INCLUSION GENDER', 'DATE ENROLLEMENT',
       'TARGET SIZE', 'STUDY TYPE', 'STUDY DESIGN', 'PHASE', 'COUNTRIES',
       'CONTACT FIRSTNAME', 'CONTACT LASTNAME', 'CONTACT ADDRESS',
       'CONTACT EMAIL', 'CONTACT TEL', 'CONTACT AFFILIATION',
       'INCLUSION CRITERIA', 'EXCLUSION CRITERIA', 'CONDITION', 'INTERVENTION',
       'PRIMARY OUTCOME', 'RESULTS DATE POSTED', 'RESULTS DATE COMPLETED',
       'RESULTS URL LINK', 'RETROSPECTIVE FLAG', 'BRIDGING FLAG TRUEFALSE',
       'BRIDGED TYPE', 'RESULTS YES NO', 'COUNTRIES_CLEAN', 'GENDER_CLEAN',
       'STUDY_TYPE_CLEAN', 'INCLUSION_AGEMIN_NUMBER',
       'INCLUSION_AGEMAX_NUMBER', 'INCLUSION_AGEMIN_UNIT',
       'INCLUSION_AGEMAX_UNIT', 'TARGET_SIZE_CLEAN'],
      dtype='object')

In [ ]:
df.drop(['ACRONYM', 'EXPORT DATE','DATE REGISTRATION3','OTHER RECORDS', 'RETROSPECTIVE FLAG', 'COUNTRIES'], axis=1, inplace=True)

Dates:
- LAST REFRESHED ON
- DATE REGISTRATION
- RESULTS DATE POSTED
- RESULTS DATE COMPLETED

Text:
- TRIALID
- PUBLIC TITLE
- SCIENTIFIC TITLE
- PRIMARY SPONSOR
- SOURCE REGISTER *
- WEB ADDRESS
- RECRUITMENT STATUS *
- STUDY TYPE
- STUDY DESIGN
- PHASE*
- CONTACT FIRSTNAME
- CONTACT LASTNAME
- CONTACT ADDRESS
- CONTACT EMAIL
- CONTACT TEL
- CONTACT AFFILIATION
- INCLUSION CRITERIA +
- EXCLUSION CRITERIA +
- INTERVENTION + 
- PRIMARY OUTCOME +
- BRIDGED TYPE *
- RESULTS YES NO*

Number:
- INCLUSION_AGEMIN_NUMBER
- INCLUSION_AGEMAX_NUMBER



'*' means catalog, few data

'+' search engine possible usage

## Data to STR

In [ ]:
def txt_parsing(x):
  if (x is None) or (x is np.nan) or (x == ';') or (x==' '):
    x = 'Not Specified'
  
  x = str(x)
  x = x.replace('<br>        ', '.').replace('<br>          -  ', '.').replace('<br>          -  ', '.').replace('<br><br>','.').replace('<br>', '.').replace('\t', '.').replace('\n','.').replace('\r', '.')
  
  return x

In [ ]:
df['TRIALID'] = df['TRIALID'].apply(txt_parsing)
df['CONDITION'] = df['CONDITION'].apply(txt_parsing)
df['PUBLIC TITLE'] = df['PUBLIC TITLE'].apply(txt_parsing)
df['SCIENTIFIC TITLE'] = df['SCIENTIFIC TITLE'].apply(txt_parsing)
df['PRIMARY SPONSOR'] = df['PRIMARY SPONSOR'].apply(txt_parsing)
df['SOURCE REGISTER'] = df['SOURCE REGISTER'].apply(txt_parsing)
df['STUDY TYPE'] = df['STUDY TYPE'].apply(txt_parsing)
df['STUDY DESIGN'] = df['STUDY DESIGN'].apply(txt_parsing)
df['CONTACT FIRSTNAME'] = df['CONTACT FIRSTNAME'].apply(txt_parsing)
df['CONTACT LASTNAME'] = df['CONTACT LASTNAME'].apply(txt_parsing)
df['CONTACT ADDRESS'] = df['CONTACT ADDRESS'].apply(txt_parsing)
df['CONTACT EMAIL'] = df['CONTACT EMAIL'].apply(txt_parsing)
df['CONTACT TEL'] = df['CONTACT TEL'].apply(txt_parsing)
df['CONTACT AFFILIATION'] = df['CONTACT AFFILIATION'].apply(txt_parsing)
df['INCLUSION CRITERIA'] = df['INCLUSION CRITERIA'].apply(txt_parsing)
df['EXCLUSION CRITERIA'] = df['EXCLUSION CRITERIA'].apply(txt_parsing)
df['INTERVENTION'] = df['INTERVENTION'].apply(txt_parsing)
df['PRIMARY OUTCOME'] = df['PRIMARY OUTCOME'].apply(txt_parsing)

In [ ]:
df['INCLUSION_AGEMAX_NUMBER'] = pd.to_numeric(df['INCLUSION_AGEMAX_NUMBER'], errors='coerce')
df['INCLUSION_AGEMIN_NUMBER'] = pd.to_numeric(df['INCLUSION_AGEMIN_NUMBER'], errors='coerce')

## Inlcusion Age Adjustment

In [ ]:
for index, row in df.iterrows():
  if row['INCLUSION_AGEMAX_UNIT'] == 'months':
    df.loc[index, 'INCLUSION_AGEMAX_UNIT'] = 'years'
    if str(row['INCLUSION_AGEMAX_NUMBER']) != 'nan':
      df.loc[index, 'INCLUSION_AGEMAX_NUMBER'] = int(round(row['INCLUSION_AGEMAX_NUMBER']/12))
  elif row['INCLUSION_AGEMAX_UNIT'] == 'weeks':
    df.loc[index, 'INCLUSION_AGEMAX_UNIT'] = 'years'
    if str(row['INCLUSION_AGEMAX_NUMBER']) != 'nan':
      df.loc[index, 'INCLUSION_AGEMAX_NUMBER'] = int(round(row['INCLUSION_AGEMAX_NUMBER']/52))

In [ ]:
for index, row in df.iterrows():
  if row['INCLUSION_AGEMIN_UNIT'] == 'months':
    df.loc[index, 'INCLUSION_AGEMIN_UNIT'] = 'years'
    if str(row['INCLUSION_AGEMIN_NUMBER']) != 'nan':
      df.loc[index, 'INCLUSION_AGEMIN_NUMBER'] = round(row['INCLUSION_AGEMIN_NUMBER']/12)
  elif row['INCLUSION_AGEMIN_UNIT'] == 'weeks':
    df.loc[index, 'INCLUSION_AGEMIN_UNIT'] = 'years'
    if str(row['INCLUSION_AGEMIN_NUMBER']) != 'nan':
      df.loc[index, 'INCLUSION_AGEMIN_NUMBER'] = round(row['INCLUSION_AGEMIN_NUMBER']/52)

## Unziping Countries intro String

In [ ]:
unzip_function = lambda x: (',').join(x)

In [ ]:
df['COUNTRIES_CLEAN'] = df['COUNTRIES_CLEAN'].apply(unzip_function)

In [ ]:
df['COUNTRIES_CLEAN']

0                        Syrian Arab Republic
1                                       Chile
2        United States Minor Outlying Islands
3        United States Minor Outlying Islands
4                                   Indonesia
                         ...
14680                                 Jamaica
14681                                 Jamaica
14682                                 Jamaica
14683                                 Jamaica
14684                                 Jamaica
Name: COUNTRIES_CLEAN, Length: 14685, dtype: object

## Unziping Synonyms to String

In [ ]:
countries_ISO_data['SYNONYMS'] = countries_ISO_data['SYNONYMS'].apply(unzip_function)

In [ ]:
countries_ISO_data.to_csv('countries_Standard.csv', index=False)

## Data to Datetime

In [ ]:
df['LAST REFRESHED ON'] = df['LAST REFRESHED ON'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True, errors='coerce', dayfirst=True).date()) 
df['DATE REGISTRATION'] = df['DATE REGISTRATION'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True, errors='coerce', dayfirst=True).date()) 
df['RESULTS DATE POSTED'] = df['RESULTS DATE POSTED'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True, errors='coerce', dayfirst=True).date())
df['RESULTS DATE COMPLETED'] = df['RESULTS DATE COMPLETED'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True, errors='coerce', dayfirst=True).date())
df['DATE ENROLLEMENT'] = df['DATE ENROLLEMENT'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True, errors='coerce', dayfirst=True).date())

In [ ]:
df['DATE ENROLLEMENT']

0        2005-01-01
1        1996-01-01
2        2007-09-01
3        2011-04-01
4        2018-10-23
            ...
14680    2022-05-27
14681    2022-04-06
14682    2021-01-04
14683    2022-01-06
14684    2022-01-06
Name: DATE ENROLLEMENT, Length: 14685, dtype: object

# Gender Catalog Table

In [ ]:
gender = df['GENDER_CLEAN']

In [ ]:
gender_Standard = pd.DataFrame(gender.unique(), columns=['NAME'])
gender_Standard.index = gender_Standard.index + 1

In [ ]:
gender_Standard = gender_Standard.reset_index()
gender_Standard = gender_Standard.rename(columns = {'index':'ID'})

In [ ]:
gender_Standard

   ID           NAME
0   1           Both
1   2           Male
2   3         Female
3   4  Not Specified

In [ ]:
gender_Standard.to_csv('gender_Standard.csv', index=False)

## Gender Pivot Table

In [ ]:
inspect_gender = df[['ID', 'GENDER_CLEAN']]

In [ ]:
ID_gender = []

for index,row_outer in gender_Standard.iterrows():
  aliases = row_outer['NAME']

  trial_id_list = []
  
  for index,row_inner in inspect_gender.iterrows():
    if row_inner['GENDER_CLEAN'] == aliases:
      trial_id_list = [row_outer['ID'], row_inner['ID']]

      ID_gender.append(trial_id_list)

In [ ]:
ID_gender = pd.DataFrame(ID_gender, columns = ['GENDER', 'ID'])

In [ ]:
ID_gender

       GENDER     ID
0           1      1
1           1      2
2           1      3
3           1      4
4           1      5
...       ...    ...
14680       4  14312
14681       4  14313
14682       4  14314
14683       4  14642
14684       4  14654

[14685 rows x 2 columns]

In [ ]:
ID_gender.to_csv('ID_gender.csv', index=False)

# Study Type Catalog Table

In [ ]:
study_type = df['STUDY_TYPE_CLEAN']

In [ ]:
study_type_standard = pd.DataFrame(study_type.unique(), columns=['NAME'])
study_type_standard.index = study_type_standard.index + 1

In [ ]:
study_type_standard = study_type_standard.reset_index()
study_type_standard = study_type_standard.rename(columns = {'index':'ID'})

In [ ]:
study_type_standard

    ID                      NAME
0    1       Observational Study
1    2      Interventional Study
2    3          Diagnostic Study
3    4          Prevention Study
4    5           Prognosis Study
5    6    Basic Science Research
6    7           Treatment Study
7    8  Epidemiological Research
8    9  Health Services Research
9   10        Screening Research
10  11     Expanded Accces Study
11  12              PMS Research
12  13             Not Specified

In [ ]:
study_type_standard.to_csv('study_type_Standard.csv', index=False)

## Study Type Pivot Table

In [ ]:
inspect_study_type = df[['ID', 'STUDY_TYPE_CLEAN']]

In [ ]:
ID_study_type = []

for index,row_outer in study_type_standard.iterrows():
  aliases = row_outer['NAME']

  trial_id_list = []
  
  for index,row_inner in inspect_study_type.iterrows():

    if  row_inner['STUDY_TYPE_CLEAN'] == aliases:
      trial_id_list = [row_outer['ID'], row_inner['ID']]

      ID_study_type.append(trial_id_list)

In [ ]:
ID_study_type = pd.DataFrame(ID_study_type, columns=['STUDY_TYPE','ID'])

In [ ]:
ID_study_type

       STUDY_TYPE     ID
0               1      1
1               1      2
2               1      7
3               1      8
4               1     13
...           ...    ...
14680          13  11248
14681          13  11892
14682          13  12515
14683          13  14339
14684          13  14628

[14685 rows x 2 columns]

In [ ]:
ID_study_type.to_csv('ID_study_type.csv', index=False)

## Adjusting Index for DataBase Consumption

In [ ]:
ID_study_type = pd.read_csv('ID_study_type.csv')
ID_study_type['STUDY_TYPE'] = ID_study_type['STUDY_TYPE'] - 1

ID_Country = pd.read_csv('ID_country.csv')
ID_Country['COUNTRY'] = ID_Country['COUNTRY'] - 1

ID_gender = pd.read_csv('ID_gender.csv')
ID_gender['GENDER'] = ID_gender['GENDER'] - 1

In [ ]:
ID_study_type.to_csv('ID_Country.csv', index=False)
ID_Country.to_csv('ID_Country.csv', index=False)
ID_gender.to_csv('ID_gender.csv', index=False)

# Clean DataFrame

In [ ]:
df.columns

Index(['ID', 'TRIALID', 'LAST REFRESHED ON', 'PUBLIC TITLE',
       'SCIENTIFIC TITLE', 'PRIMARY SPONSOR', 'DATE REGISTRATION',
       'SOURCE REGISTER', 'WEB ADDRESS', 'RECRUITMENT STATUS',
       'INCLUSION AGEMIN', 'INCLUSION AGEMAX', 'INCLUSION GENDER',
       'DATE ENROLLEMENT', 'TARGET SIZE', 'STUDY TYPE', 'STUDY DESIGN',
       'PHASE', 'CONTACT FIRSTNAME', 'CONTACT LASTNAME', 'CONTACT ADDRESS',
       'CONTACT EMAIL', 'CONTACT TEL', 'CONTACT AFFILIATION',
       'INCLUSION CRITERIA', 'EXCLUSION CRITERIA', 'CONDITION', 'INTERVENTION',
       'PRIMARY OUTCOME', 'RESULTS DATE POSTED', 'RESULTS DATE COMPLETED',
       'RESULTS URL LINK', 'BRIDGING FLAG TRUEFALSE', 'BRIDGED TYPE',
       'RESULTS YES NO', 'COUNTRIES_CLEAN', 'GENDER_CLEAN', 'STUDY_TYPE_CLEAN',
       'INCLUSION_AGEMIN_NUMBER', 'INCLUSION_AGEMAX_NUMBER',
       'INCLUSION_AGEMIN_UNIT', 'INCLUSION_AGEMAX_UNIT', 'TARGET_SIZE_CLEAN'],
      dtype='object')

In [ ]:
df.drop(['INCLUSION GENDER', 'STUDY TYPE', 'INCLUSION AGEMIN', 'INCLUSION AGEMAX', 'TARGET SIZE'], axis=1, inplace=True)

In [ ]:
df.columns

Index(['ID', 'TRIALID', 'LAST REFRESHED ON', 'PUBLIC TITLE',
       'SCIENTIFIC TITLE', 'PRIMARY SPONSOR', 'DATE REGISTRATION',
       'SOURCE REGISTER', 'WEB ADDRESS', 'RECRUITMENT STATUS',
       'DATE ENROLLEMENT', 'STUDY DESIGN', 'PHASE', 'CONTACT FIRSTNAME',
       'CONTACT LASTNAME', 'CONTACT ADDRESS', 'CONTACT EMAIL', 'CONTACT TEL',
       'CONTACT AFFILIATION', 'INCLUSION CRITERIA', 'EXCLUSION CRITERIA',
       'CONDITION', 'INTERVENTION', 'PRIMARY OUTCOME', 'RESULTS DATE POSTED',
       'RESULTS DATE COMPLETED', 'RESULTS URL LINK', 'BRIDGING FLAG TRUEFALSE',
       'BRIDGED TYPE', 'RESULTS YES NO', 'COUNTRIES_CLEAN', 'GENDER_CLEAN',
       'STUDY_TYPE_CLEAN', 'INCLUSION_AGEMIN_NUMBER',
       'INCLUSION_AGEMAX_NUMBER', 'INCLUSION_AGEMIN_UNIT',
       'INCLUSION_AGEMAX_UNIT', 'TARGET_SIZE_CLEAN'],
      dtype='object')

In [ ]:
len(df['STUDY DESIGN'].unique())

2642

## Switch Text for IDs

In [ ]:
gender_Standard['ID'] = gender_Standard['ID'] - 1
study_type_standard['ID'] = study_type_standard['ID'] -1

In [ ]:
df['STUDY_TYPE_CLEAN'] = ID_study_type.sort_values(by='ID')['STUDY_TYPE']
df['GENDER_CLEAN'] = ID_gender.sort_values(by='ID')['GENDER']


## Binary Data Switch

In [ ]:
df.columns

Index(['ID', 'TRIALID', 'LAST REFRESHED ON', 'PUBLIC TITLE',
       'SCIENTIFIC TITLE', 'PRIMARY SPONSOR', 'DATE REGISTRATION',
       'SOURCE REGISTER', 'WEB ADDRESS', 'RECRUITMENT STATUS',
       'DATE ENROLLEMENT', 'STUDY DESIGN', 'PHASE', 'CONTACT FIRSTNAME',
       'CONTACT LASTNAME', 'CONTACT ADDRESS', 'CONTACT EMAIL', 'CONTACT TEL',
       'CONTACT AFFILIATION', 'INCLUSION CRITERIA', 'EXCLUSION CRITERIA',
       'CONDITION', 'INTERVENTION', 'PRIMARY OUTCOME', 'RESULTS DATE POSTED',
       'RESULTS DATE COMPLETED', 'RESULTS URL LINK', 'BRIDGING FLAG TRUEFALSE',
       'BRIDGED TYPE', 'RESULTS YES NO', 'COUNTRIES_CLEAN', 'GENDER_CLEAN',
       'STUDY_TYPE_CLEAN', 'INCLUSION_AGEMIN_NUMBER',
       'INCLUSION_AGEMAX_NUMBER', 'INCLUSION_AGEMIN_UNIT',
       'INCLUSION_AGEMAX_UNIT', 'TARGET_SIZE_CLEAN'],
      dtype='object')

In [ ]:
for index,row in df.iterrows():
  if row['BRIDGING FLAG TRUEFALSE'] == 'True ':
    df['BRIDGING FLAG TRUEFALSE'][index] = 1
  else:
    df['BRIDGING FLAG TRUEFALSE'][index] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
for index,row in df.iterrows():
  if row['RESULTS YES NO'] == 'Yes':
    df['RESULTS YES NO'][index] = 1
  else:
    df['RESULTS YES NO'][index] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
len(df)

14685

In [ ]:
df.to_csv('COVID19_web_CLEAN_before_quotes.csv', index=False, encoding='utf-8')

## Quotes Replacement

In [ ]:
df['CONTACT FIRSTNAME'] = df['CONTACT FIRSTNAME'].str.replace(";", "")
df['CONTACT FIRSTNAME'] = df['CONTACT FIRSTNAME'].str.lower()
df['CONTACT FIRSTNAME'] = df['CONTACT FIRSTNAME'].str.title()

In [ ]:
df['SCIENTIFIC TITLE']=df['SCIENTIFIC TITLE'].str.replace('"', "")
#df['SCIENTIFIC TITLE']=df['SCIENTIFIC TITLE'].str.replace('"', "'")

#df['SCIENTIFIC TITLE']=df['SCIENTIFIC TITLE'].str.sub('"', "'")
#df['SCIENTIFIC TITLE']=df['SCIENTIFIC TITLE'].str.sub('"', "")

In [ ]:
# Export clean DataFrame
df.to_csv('COVID19_web_CLEAN_after_quotes.csv', index=False, encoding='utf-8')
# df.to_csv('COVID19_web_CLEAN.csv', index=False, encoding='utf-8', quotechar="'")

In [ ]:
len(df)

14685